.transfers {
  justify-content: space-around;
  align-items: center;

  .button { 
    color: red;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;
    flex: space-around;
    margin: 1%;
  }

  .buttonSmall {
    color: red;
    font-size: 12px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 3px;
    padding-bottom: 3px;
    flex: space-around;
    margin: 1%;
  }

  .buttonSmallSelected {
    color: red;
    background-color: limegreen;
    font-size: 12px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 3px;
    padding-bottom: 3px;
    flex: space-around;
    margin: 1%;
  }

  .buttonTwoLines {
    color: red;
    font-size: 12px;
    width: 130px;
    height: 55px;
    border: none;
    border-radius: 30px;
    padding-left: 3px;
    padding-bottom: 3px;
    flex: space-around;
    margin: 1%;
  }

  .buttonTwoLinesSelected {
    color: red;
    background-color: limegreen;
    font-size: 12px;
    width: 130px;
    height: 55px;
    border: none;
    border-radius: 30px;
    padding-left: 3px;
    padding-bottom: 3px;
    flex: space-around;
    margin: 1%;
  }

  .table {
    margin-left:auto; 
    margin-right:auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

